
body {
    font-family: sans-serif;
}

a{
    display: block;
    margin: 10px ;
    position: relative;
}

a img{
    width: 100%;
    display: block;
}

a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    opacity: 0;
    transition: all .5s;
}

a:hover::before{
    opacity: 1;
}

a:hover::after{
    content: 'Veja+';
    display: block;
    position: absolute;
    border:3px solid #fff;
    color: #fff;
    top:50%;
    left: 50%;
}