:root {
    --btn-color:#a3e4d7;
    --main-font-color:  #76448a ;
    --secondary--font-color: #a87bb7;
    --social-media-bgc: #303d4c;
    --footer-bgc: #25303e;
    --footer-font-color:  #83969f ;
}


body{
    margin: 0 auto;
    width: 80vw;
    font-family: 'Oxygen', sans-serif;
    box-sizing: border-box;
}


h2, header li,.fas,.far {
    color: var(--main-font-color);
}


.btn-default{
    color: #ffffff;
    width: 110px;
    background:  var(--btn-color);
    border-radius: 5px;
    text-decoration: none;
    padding: 15px 30px;
    text-align: center;
    display: block;
}

.btn-default:hover{
    background: #37a0a0;
}

/* Header */

.header-content{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.header-content nav {
    width: 40%;
}   

.header-content ul {
    display: flex;
    justify-content:space-evenly ;
}

.header-content li{
    box-sizing: border-box;
    padding: 20px;
}

.header-content li:hover{
    background-color:rgba(124,55,146,0.2);
    cursor: pointer;
}


/* Main */

.main-content{
    margin-top: 20px ;
    background: url(../images/bg_topo_1600x1374.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    width: 100%;
    height: 82vh;
    color: #fff;
    
}

.main-content-itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 40%;
    margin: 0 auto ;
    transform: translateY(100%);
   
}

.main-content-itens img{ 
    max-width: 112px;
}

.main-content-itens h1 {
    font-weight: bold;
    font-size: 1.35em;
}

.main-content-itens p {
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
}


.cards-content{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 50px auto;
    text-align: center;
}

.cards-content article {
    width: 22%;
}

.cards-content article h2,.cards-content article  p {
    margin-top: 20px;
}

.cards-content article h2{
    font-size: 1.5em;
    font-weight: bold;
}

.cards-content article  p{
    line-height: 1.5;
}

.cards-content article span{
    font-size: 3.5em;
}

.subcard-content{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 50px auto;
}

.top-card ,.bottom-card{
    display: flex;
    margin: 30px 0;
    justify-content: space-between;
}

.subcard-content article {
    width: 45%;
}

.subcard-content article h2 {
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin-bottom: 1em;
}

.subcard-content article p {
    line-height: 1.5;  
    margin-bottom: 1em; 
}


/* Footer */

.social-media {
    width: 100%;
    background: var(--social-media-bgc);
    padding: 10px 0;
}

.social-media ul{
    display: flex;
    font-size: 1.1em;
    justify-content: center;
}

.social-media i{
    color: #ffffff;
    margin: 0 15px;
}

.copyright-content{
    background-color: var(--footer-bgc);
    padding: 15px 0 ;
    text-align: center;
    color: var(--footer-font-color);
}

.copyright-content h3{
    margin-bottom: 10px;
}


@media (max-width:764px){
    body {
        margin: 0;
        padding: 0;
        width: 100vw;
    }

    .header-content{
        display: flex;
        flex-direction: column;
        align-items: center;       
    }

    .header-content nav{
        width: 100%;
        margin-top: 20px;
    }

    .header-content ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--main-font-color);
    }

    .header-content li {
        color: #ffffff;
        padding: 15px 0;
        width: 100%;
        text-align: center;
    }

    .header-content li:hover{
        background-color:rgba(255,255,255,0.2)
    }
    
    .header-content ul > a{
        width: 100%;
        
    }
    /* Header */

    .main-content{
        background-image: none;
        margin: 50px 0;
        height: auto;
    }

    .main-content-itens{
        transform: none;
        height: auto;
    }
    .main-content-itens img{
        display: none ;
    }

    .main-content-itens h1{
        color: var(--main-font-color);
        margin-bottom: 20px;
    }

    .main-content-itens p{
        color: var(--secondary--font-color);
        margin-bottom: 20px;
    }

    .cards-content{
        width: 100%;
        flex-wrap: wrap;
        margin: 50px 0;
        padding: 0 50px;
        box-sizing: border-box;
    }

    .cards-content article{
        flex: 1 ;
        min-width: 100%;
        margin-top: 40px;
    }

    .subcard-content{
        width: 100%;
        flex-wrap: wrap;
        margin: 80px 0;
        padding: 0 50px;
        box-sizing: border-box;
    } 
     
    .subcard-content div {
        flex-wrap: wrap;
        margin: 0;
    }

    .subcard-content article{
        margin-top: 40px ;
        padding: 0;
        min-width: 100%;
    }
}